In [1]:
#graph fields of study changes per year 1985-2015, every 5 years
#use data table 12
#then break it down by sex (table 14)
#break it down by ethnicity, race & citizenship table 17 & 19
#age for diff fields, diff sexes, diff races table 27 
#functional limitations table 28
#went to community college table 30
#median years to degree table 31
#medan years to degree by sex, citizen, ethnicity, race, field table 32
#parents education by race etc table 33
#financial support table 35 & 37
#education related debt by race etc table 40
#employment sectors table 46
#median salary by sex, field table 48
#table 54 has a good overview of general stats: sex, age, marital status etc

In [2]:
import pandas as pd
demData = pd.read_csv('/Users/winfree/tab12_grad_data.csv')

In [3]:
demData.head()

,Field of study,1985,Unnamed: 2,1990,Unnamed: 4,1995,Unnamed: 6,2000,Unnamed: 8,2005,Unnamed: 10,2010,Unnamed: 12,2015,Unnamed: 14
0,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent
1,All fields,"31,295",100.0%,"36,065",100.0%,"41,747",100.0%,"41,369",100.0%,"43,385",100.0%,"48,031",100.0%,"55,006",100.0%
2,Life sciences,"5,822",18.6%,"6,655",18.5%,"7,998",19.2%,"8,622",20.8%,"9,310",21.5%,"11,319",23.6%,"12,520",22.8%
3,Agricultural sciences and natural resources,"1,300",4.2%,"1,371",3.8%,"1,293",3.1%,"1,179",2.8%,"1,160",2.7%,"1,100",2.3%,"1,439",2.6%
4,Biological and biomedical sciences,"3,793",12.1%,"4,328",12.0%,"5,376",12.9%,"5,853",14.1%,"6,367",14.7%,"8,046",16.8%,"8,801",16.0%

In [5]:
demData['Field of study'][1]

'All fields'

In [6]:
demIndex = ('85','90','95', '00')

In [7]:
allFields = pd.DataFrame({'A':demData['1985'][1], 'B':demData['1990'][1], 'C':demData['1995'][1], 'D':demData['2000'][1]}, index = demIndex)

In [77]:
allFields

         A       B       C       D
85  31,295  36,065  41,747  41,369
90  31,295  36,065  41,747  41,369
95  31,295  36,065  41,747  41,369
00  31,295  36,065  41,747  41,369

In [8]:
fields = demData['Field of study']

In [9]:
demData.describe

<bound method NDFrame.describe of                                        Field of study    1985 Unnamed: 2  \
0                                                 NaN  Number    Percent
1                                          All fields  31,295     100.0%
2                                       Life sciences   5,822      18.6%
3         Agricultural sciences and natural resources   1,300       4.2%
4                  Biological and biomedical sciences   3,793      12.1%
5                                     Health sciences     729       2.3%
6                Physical sciences and earth sciences   3,491      11.2%
7                                           Chemistry   1,836       5.9%
8        Geosciences, atmospheric, and ocean sciences     575       1.8%
9                               Physics and astronomy   1,080       3.5%
10                  Mathematics and computer sciences     998       3.2%
11                  Computer and information sciences     310       1.0%
12                         Mathematics and statistics     688       2.2%
13                     Psychology and social sciences   6,027      19.3%
14                                         Psychology   3,117      10.0%
15                                       Anthropology     353       1.1%
16                                          Economics     811       2.6%
17                   Political science and government     406       1.3%
18                                          Sociology     461       1.5%
19                              Other social sciences     879       2.8%
20                                        Engineering   3,166      10.1%
21  Aerospace, aeronautical, and astronautical eng...     124       0.4%
22          Bioengineering and biomedical engineering      69       0.2%
23                               Chemical engineering     440       1.4%
24                                  Civil engineering     358       1.1%
25  Electrical, electronics, and communications en...     629       2.0%
26           Industrial and manufacturing engineering      92       0.3%
27                      Materials science engineering     188       0.6%
28                             Mechanical engineering     424       1.4%
29                                  Other engineering     842       2.7%
30                                          Education   6,733      21.5%
31                           Education administration   1,625       5.2%
32                                 Education research   2,925       9.3%
33                                  Teacher education     463       1.5%
34                                    Teaching fields   1,118       3.6%
35                                    Other education     602       1.9%
36                                Humanities and arts   3,406      10.9%
37                   Foreign languages and literature     435       1.4%
38                                            History     543       1.7%
39                                            Letters     983       3.1%
40                          Other humanities and arts   1,445       4.6%
41                                             Othera   1,652       5.3%
42             Business management and administration     789       2.5%
43                                      Communication     266       0.8%
44            Non-S&E fields not elsewhere classified     597       1.9%
45                                      Unknown field       0       0.0%
46                                                NaN     NaN        NaN
47                                 * = value < 0.05%.     NaN        NaN
48                     S&E = science and engineering.     NaN        NaN
49              a Non-science and engineering fields.     NaN        NaN
50  NOTES: See table A-6 in the technical notes fo...     NaN        NaN
51  SOURCE: National Science Foundation, National ...     NaN        NaN

      1990 Unnamed: 4    1995 Unnamed: 6    2000 Unnamed: 8    2005  \
0   Number    Percent  Number    Percent  Number    Percent  Number
1   36,065     100.0%  41,747     100.0%  41,369     100.0%  43,385
2    6,655      18.5%   7,998      19.2%   8,622      20.8%   9,310
3    1,371       3.8%   1,293       3.1%   1,179       2.8%   1,160
4    4,328      12.0%   5,376      12.9%   5,853      14.1%   6,367
5      956       2.7%   1,329       3.2%   1,590       3.8%   1,783
6    4,212      11.7%   4,540      10.9%   4,071       9.8%   4,359
7    2,100       5.8%   2,162       5.2%   1,989       4.8%   2,126
8      719       2.0%     726       1.7%     693       1.7%     714
9    1,393       3.9%   1,652       4.0%   1,389       3.4%   1,519
10   1,597       4.4%   2,187       5.2%   1,910       4.6%   2,334
11     705       2.0%     997       2.4%     860       2.1%   1,129
12     892       2.5%   1,190       2.9%   1,050       2.5%   1,205
13   6,331      17.6%   6,930      16.6%   7,452      18.0%   7,149
14   3,281       9.1%   3,429       8.2%   3,616       8.7%   3,322
15     324       0.9%     375       0.9%     446       1.1%     456
16     862       2.4%     979       2.3%     948       2.3%   1,061
17     462       1.3%     599       1.4%     669       1.6%     618
18     428       1.2%     540       1.3%     617       1.5%     536
19     974       2.7%   1,008       2.4%   1,156       2.8%   1,156
20   4,894      13.6%   6,008      14.4%   5,323      12.9%   6,426
21     192       0.5%     252       0.6%     214       0.5%     219
22     129       0.4%     189       0.5%     251       0.6%     417
23     561       1.6%     602       1.4%     619       1.5%     774
24     505       1.4%     572       1.4%     480       1.2%     622
25   1,110       3.1%   1,513       3.6%   1,330       3.2%   1,547
26     151       0.4%     284       0.7%     176       0.4%     221
27     307       0.9%     476       1.1%     404       1.0%     493
28     773       2.1%     917       2.2%     807       2.0%     892
29   1,166       3.2%   1,203       2.9%   1,042       2.5%   1,241
30   6,509      18.0%   6,648      15.9%   6,442      15.6%   6,227
31   1,664       4.6%   1,974       4.7%   2,036       4.9%   2,167
32   2,439       6.8%   2,576       6.2%   2,667       6.4%   2,674
33     419       1.2%     390       0.9%     261       0.6%     263
34     922       2.6%     924       2.2%     824       2.0%     663
35   1,065       3.0%     784       1.9%     654       1.6%     460
36   3,854      10.7%   5,040      12.1%   5,462      13.2%   5,187
37     512       1.4%     639       1.5%     642       1.6%     607
38     612       1.7%     889       2.1%   1,061       2.6%     924
39   1,060       2.9%   1,548       3.7%   1,612       3.9%   1,389
40   1,670       4.6%   1,964       4.7%   2,147       5.2%   2,267
41   2,013       5.6%   2,396       5.7%   2,087       5.0%   2,393
42   1,036       2.9%   1,330       3.2%   1,065       2.6%   1,171
43     323       0.9%     381       0.9%     389       0.9%     488
44     654       1.8%     685       1.6%     629       1.5%     733
45       0       0.0%       0       0.0%       4          *       1
46     NaN        NaN     NaN        NaN     NaN        NaN     NaN
47     NaN        NaN     NaN        NaN     NaN        NaN     NaN
48     NaN        NaN     NaN        NaN     NaN        NaN     NaN
49     NaN        NaN     NaN        NaN     NaN        NaN     NaN
50     NaN        NaN     NaN        NaN     NaN        NaN     NaN
51     NaN        NaN     NaN        NaN     NaN        NaN     NaN

   Unnamed: 10    2010 Unnamed: 12    2015 Unnamed: 14
0      Percent  Number     Percent  Number     Percent
1       100.0%  48,031      100.0%  55,006      100.0%
2        21.5%  11,319       23.6%  12,520       22.8%
3         2.7%   1,100        2.3%   1,439        2.6%
4        14.7%   8,046       16.8%   8,801       16.0%
5         4.1%   2,173        4.5%   2,280        4.1%
6        10.0%   4,995       10.4%   5,924       10.8%
7         4.9%   2,304        4.8%   2,675        4.9%
8         1.6%     862        1.8%   1,057        1.9%
9         3.5%   1,829        3.8%   2,192        4.0%
10        5.4%   3,223        6.7%   3,825        7.0%
11        2.6%   1,633        3.4%   2,005        3.6%
12        2.8%   1,590        3.3%   1,820        3.3%
13       16.5%   7,883       16.4%   9,095       16.5%
14        7.7%   3,421        7.1%   3,782        6.9%
15        1.1%     507        1.1%     493        0.9%
16        2.4%   1,073        2.2%   1,256        2.3%
17        1.4%     728        1.5%     859        1.6%
18        1.2%     639        1.3%     745        1.4%
19        2.7%   1,515        3.2%   1,960        3.6%
20       14.8%   7,578       15.8%   9,897       18.0%
21        0.5%     252        0.5%     361        0.7%
22        1.0%     824        1.7%   1,129        2.1%
23        1.8%     822        1.7%   1,002        1.8%
24        1.4%     643        1.3%     633        1.2%
25        3.6%   1,778        3.7%   2,004        3.6%
26        0.5%     215        0.4%     244        0.4%
27        1.1%     670        1.4%     874        1.6%
28        2.1%     983        2.0%   1,467        2.7%
29        2.9%   1,391        2.9%   2,183        4.0%
30       14.4%   5,288       11.0%   5,117        9.3%
31        5.0%   1,439        3.0%     922        1.7%
32        6.2%   2,443        5.1%   2,783        5.1%
33        0.6%     245        0.5%     155        0.3%
34        1.5%     800        1.7%     957        1.7%
35        1.1%     361        0.8%     300        0.5%
36       12.0%   5,016       10.4%   5,600       10.2%
37        1.4%     601        1.3%     656        1.2%
38        2.1%   1,005        2.1%   1,145        2.1%
39        3.2%   1,516        3.2%   1,590        2.9%
40        5.2%   1,894        3.9%   2,209        4.0%
41        5.5%   2,729        5.7%   3,028        5.5%
42        2.7%   1,366        2.8%   1,588        2.9%
43        1.1%     638        1.3%     668        1.2%
44        1.7%     725        1.5%     772        1.4%
45           *       0        0.0%       0        0.0%
46         NaN     NaN         NaN     NaN         NaN
47         NaN     NaN         NaN     NaN         NaN
48         NaN     NaN         NaN     NaN         NaN
49         NaN     NaN         NaN     NaN         NaN
50         NaN     NaN         NaN     NaN         NaN
51         NaN     NaN         NaN     NaN         NaN  >